.HeaderContent {
    width: 100%;
    padding: 0px;
}

    .HeaderContent table, .HeaderContent tr, .HeaderContent td {
        border-collapse: collapse;
    }
        /* Page_Title*/
        .HeaderContent td:nth-of-type(1) {
            width: 75%;
            font: bold 28px Verdana;
        }
        /* Username*/
        .HeaderContent td:nth-of-type(2) {
            width: 20%;
            font-family: Arial;
            font-size: 14px;
        }
        /* Avatar*/
        .HeaderContent td:nth-of-type(3) {
            width: 10%;
        }

#IMG_Avatar {
    height: 100px;
    width: 100px;
}

#IMG_PreviewAvatar {
    height: 150px;
    width: 150px;
}

.LoginForm {
    font-family: Arial;
    font-size: 12px;
    margin: auto;
    width: 350px;
    background-color: lightgreen;
    padding: 2px;
    border: 1px solid black;
}

.InscriptionForm {
    font-family: Arial;
    font-size: 12px;
    margin: auto;
    width: 625px;
    background-color: lightgreen;
    padding: 5px;
    border: 1px solid black;
}

.SubmitButton {
    width: 150px;
    font-family: Arial;
    font-size: 12px;
    margin-bottom: 6px;
    padding: 4px;
    border-radius: 6px;
    background-color: yellowgreen;
}

    .SubmitButton:hover {
        background-color: chartreuse;
    }

.gridview table {
    border-collapse: collapse;
}
    
    .gridview td {
        border: 1px solid;
        border-color: yellowgreen;
        border-collapse: collapse;
        padding: 5px;
    }

    .gridview th {
        border: 1px solid black;
        font-family: Arial;
        font-size: 12px;
        padding: 5px;
    }

    .gridview table tr:first-child td {
        color: black;
        background-color: lightgreen;
    }
